.brief-intro a{
    text-decoration:none;color:rgb(130, 130,130);
}
.brief-intro a:hover{text-decoration:none;color: black;}
#brief-intro{
    float: left;
    width: 20%;
    margin-left: 5%;
    margin-top: 140px;
    font-family: 宋体;
}
.personal-img{
    position: relative;
    width: 100%;
    height: 30%;
}