<div class="site-content container">
  <div class="row">
    <div class="site-content-main col-sm-12">{% unless page.no_heading %}
      <div class="site-heading">{% unless page.no_date %}{% if page.collection == "news" %}
        <span class="site-news-date">{{ page.date | date: "%Y.%-m.%-d" }}</span>{% endif %}{% endunless %}
        <h1>{% if page.heading_link %}<a href="{{ page.heading_link }}">{{ page.title | default: site.name }}</a>{% else %}{{ page.title | default: site.name }}{% endif %}</h1>
      </div>{% endunless %}{% if page.image != site.default_image %}
{% include figure.html blank="          " src=page.image alt=page.title width=page.image_width height=page.image_height no_link=true class="site-content-image" %}{% endif %}
      <article>{% capture LINE_BREAK %}
{% endcapture %}{% capture DOUBLE_LINE_BREAK %}{{ LINE_BREAK }}{{ LINE_BREAK }}{% endcapture %}{% capture LINE_BREAK_INDENT %}
        {% endcapture %}{% assign _content = content | strip | replace: '<a href="http', '<a target="_blank" href="http' %}
        {% assign _splited_pres = _content | split: "<pre " %}{% for _pre in _splited_pres %}{% if forloop.first %}{{ _pre | replace: DOUBLE_LINE_BREAK, LINE_BREAK | replace: LINE_BREAK, LINE_BREAK_INDENT }}{% else %}<pre {% assign _splited_part = _pre | split: "</pre>" %}{{ _splited_part[0] }}</pre>{{ _splited_part[1] | replace: DOUBLE_LINE_BREAK, LINE_BREAK | replace: LINE_BREAK, LINE_BREAK_INDENT }}{% endif %}{% endfor %}
      </article>
    </div>
  </div>
</div>