    <!-- footer -->
    <footer id="site-footer" class="site-footer">
      <div class="site-footer__inner">{% if page.language == "zh" %}
        <p>&copy; {{ site.time | date: "%Y" }} {{ site.name_zh }} &middot; 最近更新：{{ site.time | date: "%Y-%m-%d" }}</p>{% else %}
        <p>&copy; {{ site.time | date: "%Y" }} {{ site.name }} &middot; Site last updated {{ site.time | date: "%Y-%m-%d" }}</p>{% endif %}
      </div>
    </footer>
    <!-- //footer -->
    <!-- {{ page.url | absolute_url | replace: "index.html", "" }} -->