<div class="nav-prevnext">
  <div class="nav-prevnext-prev">{% if include.prev %}<a class="text-primary" href="{{ include.prev_link | relative_url }}"><span class="icon icon-prev"></span>{{ include.prev }}</a>{% endif %}</div>
  <div class="nav-prevnext-parent"><a href="{{ include.parent_link | relative_url }}">{{ include.parent }}</a></div>
  <div class="nav-prevnext-next">{% if include.next %}<a class="text-primary" href="{{ include.next_link | relative_url }}">{{ include.next }}<span class="icon icon-next"></span></a>{% endif %}</div>
</div>